<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NRI Fintech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink = "/displaypipes">Fundamental</a>
        <a class="nav-item nav-link" routerLink ="/course">Courses</a>
        <a class="nav-item nav-link" routerLink ="/displaypipes">DisplayPipes</a>
        <a class="nav-item nav-link" routerLink ="/displayservice">Display JData </a>
        <a class="nav-item nav-link" [routerLink] ="['/posts','2','active']">Posts </a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
</nav>